<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <!-- Conexión a la base -->
        <property name="hibernate.connection.driver_class">org.h2.Driver</property>
        <property name="hibernate.connection.url">jdbc:h2:mem:testdb</property>
        <property name="hibernate.connection.username">sa</property>
        <property name="hibernate.connection.password"></property>

        <!-- Dialecto SQL -->
        <property name="hibernate.dialect">org.hibernate.dialect.H2Dialect</property>

        <!-- Mostrar SQL generado -->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <!-- Crear tablas automáticamente -->
        <property name="hibernate.hbm2ddl.auto">create</property>

        <!-- Registrar tus entidades -->
        <mapping class="com.libraryManagement.model.Address"/>
        <mapping class="com.libraryManagement.model.Author"/>
        <mapping class="com.libraryManagement.model.BaseEntity"/>
        <mapping class="com.libraryManagement.model.Book"/>
        <mapping class="com.libraryManagement.model.Copy"/>
        <mapping class="com.libraryManagement.model.Genre"/>
        <mapping class="com.libraryManagement.model.Loan"/>
        <mapping class="com.libraryManagement.model.LoanLine"/>
        <mapping class="com.libraryManagement.model.Magazine"/>
        <mapping class="com.libraryManagement.model.Publication"/>
        <mapping class="com.libraryManagement.model.Publisher"/>
        <mapping class="com.libraryManagement.model.User"/>
        <!-- Agregá todas las que tengas -->

    </session-factory>
</hibernate-configuration>
